* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  color: white;
}

h2 {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.parallax,
.parallax2 {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax {
  background-image: url("https://images.pexels.com/photos/3408744/pexels-photo-3408744.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.parallax2 {
  background-image: url("https://images.pexels.com/photos/624015/pexels-photo-624015.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.text {
  height: 400px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
